

#all{
	background-color: black;
}

#textarea{
	color:lime;
	font-family:monospace;
	background-color: black;

	text-align:left;
	
	border: 0;
	padding: 0;
	
	position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 97vh;
		
		
	resize : none;
	outline: none;
}

#command {
	
	color: lime;
	font-family: monospace;
	background-color: black;
	
	border: 0;
	padding:0;
	
	position: absolute;
        left: 0;
        bottom: 0;
		
	width: 100vw;
	height: 3vh;
	
	outline: none;
	box-shadow: none;
}